<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add Product</title>
</head>
<body>

<h2>Add Product</h2>
<form th:action="@{/product/add}" th:method="post" th:object="${product}" enctype="multipart/form-data">
    <input type="text" th:field="*{title}" required placeholder="Введите название">
    <textarea type="text" th:field="*{description}" required placeholder="Введите описание"></textarea>
    <input type="number" th:field="*{price}" required placeholder="Введите цену">
    <select name="sex">
        <option value="Мужской">Мужской</option>
        <option value="Женский">Женский</option>
    </select>
    <input type="file" name="photos" accept="image/*" multiple required>
    <select th:field="*{category}" required>
        <option th:each="category : ${T(com.example.buysell.models.Category).values()}"
                th:value="${category}" th:text="${category}"></option>
    </select>
    <button type="submit">Добавить товар</button>
</form>
</body>
</html>
