<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>BUYSELL</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"  href="../static/css/home.css" th:href="@{/css/home.css}">

</head>
<body>

    <header>
        <nav>


            <div class="main-menu">
                <a href="/logout" style=" margin-right: 20px; font-size: 22px" >Выйти</a>

                <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                    <a href="/basket"><img th:src="@{'/photos/карзина.png'}" width="30" height="30" style=""></a>
                </div>

            </div>
        </nav>

            <div class="add">
            <!-- Добавляем условное отображение для кнопки "Добавить товар" -->
                <a href="/addProduct" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Add Product</a>
            </div>
        <div class="delete">
            <!-- Добавляем условное отображение для кнопки "Добавить товар" -->
            <a href="/delete/user" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Delete User</a>
        </div>
    </nav>
</header>
    <main>



        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <a th:href="@{'/sex?sex=Женский'}">
                                <svg class="bd-placeholder-img card-img-top" width="200%" height="825" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <image xlink:href="https://cdn.fw-daily.com/2014/12/10850781_1751954761696329_1383874272_n-363x465.jpg" width="100%" height="825" />
                                    <text x="44%" y="78%" fill="#eceeef" dy=".3em">ЖЕНЩИНА</text>
                                </svg>
                            </a>

                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <a th:href="@{'/sex?sex=Мужской'}">
                                <svg class="bd-placeholder-img card-img-top" width="200%" height="825" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <image xlink:href="https://lampaled.ru/800/600/https/1.bp.blogspot.com/_azb7-z33VWA/S_E8kx--Q_I/AAAAAAABa8k/PbHT-ycuvcg/s1600/35.jpg" width="100%" height="825" />
                                    <text x="44%" y="78%" fill="#eceeef" dy=".3em">МУЖЧИНА</text>
                                </svg>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


<hr>
</body>
</html>