<!DOCTYPE html>
<html>
<head>
    <title>BUYSELL</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>BUYSELL</h1><hr>
<h4>Подробная информация о товаре</h4>

<b>Название товара: </b><b th:text="${product.title}"></b>
<b>Описание товара: </b><b th:text="${product.description}"></b>
<b>Цена: </b><b th:text="${product.price}"></b>
<b>Город: </b><b th:text="${product.city}"></b>
<b>Автор: </b><b th:text="${product.author}"></b>
<hr>
<form th:action="/product/delete/${product.id}" th:method="post">
    <input type="submit" th:value="Удалить товар"/>
</form>

</body>
</html>